<section id="about" class="about">

    {% if about %}

    <div class="about-image">

        {% if about.profile_image %}
            <img src="{{ about.profile_image.url }}" alt="{{ about.full_name }}">
        {% endif %}

    </div>


    <div class="about-content">

        <span class="about-label">ABOUT ME</span>

        <h2>{{ about.full_name }}</h2>

        <h3>{{ about.job_title }}</h3>

        <p>{{ about.bio }}</p>

     </div>

        <div class="about-links">

            {% if about.github %}
                <a href="{{ about.github }}" target="_blank">GitHub</a>
            {% endif %}

            {% if about.linkedin %}
                <a href="{{ about.linkedin }}" target="_blank">LinkedIn</a>
            {% endif %}

        </div>

    </div>

    {% endif %}

</section>