<section id="about" class="about panel">

    <div class="about-content">

        <span class="about-label">
            ABOUT ME
        </span>

        <h2>
            {{ about.full_name }}
        </h2>

        <h3>
            {{ about.job_title }}
        </h3>

        <p>
            {{ about.bio }}
        </p>

    </div>


    <div class="about-mark">

        <span>K</span>

        <small>
            01
        </small>


        <div>
            PYTHON<br>
            PROGRAMMER
        </div>

    </div>

</section>