{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% include "includes/navbar.html" %}

<section id="home" class="hero">

    <h1>
        Hi, I'm Kimia!
    </h1>

    <h2>
        Python & Django Developer
    </h2>

    <p>
        I build clean and modern web applications
        with elegant user experiences.
    </p>

    <div class="hero-glow"></div>

    <div class="hero-buttons">
        <a href="#projects">View Projects →</a>
    </div>

</section>

{% include "includes/about.html" %}

{% include "includes/projects.html" %}

{% include "includes/skills.html" %}

{% include "includes/contact.html" %}

{% endblock %}