{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% include "includes/navbar.html" %}

<section id="home" class="hero">

    <h1>Kimia Jamshidi</h1>

    <h2>Building clean, modern web applications with Django.</h2>

    <p>
        Passionate about creating functional, elegant, and user-focused web experiences.
    </p>

    <div class="hero-buttons">
        <a href="#">View Projects</a>
        <a href="#">Contact Me</a>
    </div>

</section>

{% include "includes/about.html" %}
{% include "includes/projects.html" %}

{% endblock %}