{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% include "includes/navbar.html" %}

<section id="home" class="hero">
    <div class="binary-background" aria-hidden="true"></div>

    <div class="hero-meta hero-meta-left">
        <span>01</span>
        <span>/ PORTFOLIO</span>
    </div>

    <div class="hero-meta hero-meta-right">
        <span>2026</span>
    </div>


    <div class="hero-content">

        <div class="hero-intro">
            I'm
        </div>

        <h1 class="hero-name" aria-label="Kimia">
            <span>K</span>
            <span>i</span>
            <span>m</span>
            <span>i</span>
            <span>a</span>
        </h1>

        <h2>
            Python & Django Developer
        </h2>

        <p>
            I build clean and modern web applications
            with elegant user experiences.
        </p>

        <div class="hero-buttons">
            <a href="#projects">View Projects</a>
        </div>

    </div>

    <div class="hero-grid"></div>

    <div class="hero-glow"></div>

</section>

{% include "includes/about.html" %}

{% include "includes/projects.html" %}

{% include "includes/skills.html" %}

{% include "includes/contact.html" %}

{% endblock %}